body {
    font-family: 'Source Code Pro', monospace;
}
#p { color: #355070; }
#r { color: #6D597A; }
#y { color: #B56576; }
#d { color: #E56B6F; }
#t { color: #EAAC8B; }
a {
    color: #B75AA7;
}
ul {
    list-style-type: square;
}
li:not(:last-child) {
    margin-bottom: 5px;
}
#col {
    margin: 0 auto;
    max-width: 600px;
}
#pfp {
    margin: 0 auto;
    max-width: 200px;
}
.ut {
    color: #bf5700;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 16px;
    margin-top: 0;
    max-width: 100%;
    width: max-content;
    overflow: auto;
}
td {
    border: black 1px solid;
    padding: 6px 13px;
}
summary {
    cursor: pointer;
}
